@import "ress";
@import "@mdi/font/css/materialdesignicons.css";

._color-theme-root-light {
  --color-success-fg: #1a7f37;
  --color-done-fg: #8250df;
  --color-danger-fg: #cf222e;
  --color-fg-muted: #57606a;
}
